<!--
  Generated template for the PagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LIKED PAGES</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card *ngIf="!showPages">

    <ion-card-header>
      Server Response!
    </ion-card-header>

    <ion-card-content>
      {{ serverResponse }}
    </ion-card-content>

  </ion-card>
  <ion-card *ngIf="showPages">
    <ion-list>
      <ion-item *ngFor="let like of likedPages" (click)="optLike(like)">
        <ion-avatar item-start>
          <!-- <ion-icon name="logo-facebook"></ion-icon>-->
          <img [src]="like.picture.data.url"> 
        </ion-avatar>
        <h2>
          {{ like.name }}
        </h2>
        <p>created {{ like.created_time | date:'mediumDate' }}</p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="10%">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more liked pages...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-card>
</ion-content>